{% extends "layout.html" %}
{% block content %}
  <p>
  <div class='container'>
  <h1 >Analysis page</h1>
  <p><form method="POST" action="">
    
      <fieldset class="form-group">
          <div class="form-group">
            {{ form.query.label(class="form-control-label") }}
            {{ form.query(class="form-control form-control-lg") }}
          </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn") }}
      </div>
    </form>
    </p></div></p>
{%endblock content%}
