{% extends "layout.html" %}
{% block content %}
<article class="wrapper style3">
  <div class="container">
    <header>
      <h2>Here's all the stuff we do at ReactionZION.</h2>
        <h1></h1>
    </header>
    <div class="row aln-center">
      <div class="col-4 col-6-medium col-12-small">
        <section class="box style1">
          <span class="icon featured fa-comments"></span>
          <h3>Twitter </h3>
          <p>Based on the given input we analyse the sentiments of the tweets and plot it which shows whether it is positive or negative.</p>
        </section>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <section class="box style1">
          <span class="icon solid featured fa-camera-retro"></span>
          <h3>YouTube</h3>
          <p>Based on the given input we analyse the sentiments of the comments on a related youtube video and visualize it.</p>
        </section>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <section class="box style1">
          <span class="icon featured fa-thumbs-up"></span>
          <h3>Reddit</h3>
          <p>Based on the given input we analyse the sentiments of the comments on a related subreddit and visualize it.</p>
        </section>
      </div>
    </div>

  </div>
</article>


{%endblock content%}
