<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>ReactionZION - {{title}}</title>
    {%else%}
      <title>ReactionZION</title>
    {% endif %}
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

  </head>
  <body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
        	<b><a href="home">ReactionZION</a></b>
				<ul class="container">
    <c>
				<!--<li><a href="twitter">Twitter</a></li>
					<li><a href="reddit">Reddit</a></li>
					<li><a href="youtube">YouTube</a></li>-->
          <li><a href="analyse">Analyse</a></li>
          <li><a href="/dashapp/" class="button" target="_blank">Dashboard</a></li>
    </c>
				</ul>
			</nav>
          <!-- content -->
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}

            <!-- Contact -->
              <article id="contact" class="wrapper style4">

                      <h3>Get in touch</h3>
                      <ul class="social">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>

                        <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                      </ul>
                      <hr />
                    </div>
                  </div>
                  <footer>
                    <ul id="copyright">
                      <li>&copy; TeamZION. All rights reserved.</li>
                    </ul>
                  </footer>
                </div>
              </article>
    <!-- Scripts -->
      <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
